<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CarLeasingViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CarLeasingViewer.Properties.Settings>
            <setting name="TestData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncludeBlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=I7\I7SQL;Initial Catalog=CARLSON_01032019;Integrated Security=True</value>
            </setting>
            <setting name="DrawStorno" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeNotActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInsurance" serializeAs="String">
                <value>True</value>
            </setting>
        </CarLeasingViewer.Properties.Settings>
    </userSettings>
</configuration>
